.header {
    width: 100%;
    padding: 16px 24px;
    position: relative;
	background: var(--bg-card);
	border-bottom: 1px solid var(--border);
	z-index: 40;
	box-shadow: var(--box-shadow);
	transition: background 0.2s ease, color 0.2s ease, border 0.2s ease, box-shadow 0.2s ease;
}
.header .container {
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-header-left {
    flex-grow: 1;
}

.app-header-left, .app-header-right {
    display: flex;
    align-items: center;
	position: relative;
}
.app-name {
    color: var(--color-dark);
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin-right: 32px;
	transition: color 0.2s ease;
}

.search-wrapper {
    border-radius: 4px;
	border: 1px solid var(--border);
	background: var(--bg-card);
    padding-right: 12px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 480px;
    color: var(--color-dark);
    overflow: hidden;
	transition: background 0.2s ease, color 0.2s ease, border 0.2s ease;
}
.search-input {
    border: none;
    flex: 1;
    outline: none;
    padding: 0 20px;
    color: var(--color-dark);
    font-size: 14px;
    height: 100%;
    width: 100%;
    background: var(--bg-card);
	transition: background 0.2s ease, color 0.2s ease;
}

.app-header-right .btn-header-1 {
	margin-right: 20px;
}
.app-header-right .btn-header-1 {
	text-align: center;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    object-fit: cover;
	cursor: pointer;
	border: 1px solid var(--border);
	background: var(--bg-card);
	transition: background 0.2s ease, border 0.2s ease;
}
.app-header-right .svg {
	width: 20px;
}
body[data-theme='dark'] .app-header-right .btn-header-1 svg path {
	stroke: white;
}

.noproduct {
	padding: 20px;
}
.noproduct h3 {
	margin-bottom: 7px;
	color: var(--color-dark);
}
.noproduct p {
	font-size: 15px;
    color: var(--color-light);
}
.cart-content {
	border: 1px solid var(--border);
	border-top: 1px solid transparent;

	cursor: default;
	width: 490px;
	position: absolute;
	top: 136%;
	right: 0;
	background-color: var(--bg-card);
	box-shadow: var(--box-shadow);
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
}
.bagage {
	position: relative;
}
.bagage:hover .cart-content {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
}
.bagage.active::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: rgb(255, 69, 69);
}
.content {
	padding-top: 90px;
}

.cart-content__list {
	max-height: 330px;
	overflow: auto;
}

.cart-product {
	display: flex;
	align-items: center;
	padding: 12px 20px;
	padding-right: 13px;
	transition: background-color 0.3s;
}

.cart-product:hover {
	background: rgba(93, 113, 221, 0.1);
	transition: background-color 0.3s;
}

.cart-product__img {
	margin-right: 20px;
	max-width: 100px;
	max-height: 100px;
	object-fit: cover;
}

.cart-product__title {
	max-width: 300px;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: var(--color-dark);
	margin-bottom: 18px;
}

.cart-product__price {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	color: var(--color-dark);
}

.cart-product__delete {
	border: none;
	background-color: transparent;
	cursor: pointer;
	flex-shrink: 0;
	width: 20px;
	height: 20px;
	padding: 0;
	margin-left: auto;
}

.cart-content__bottom {
	padding: 20px;
	border-top: 1px solid var(--border);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cart-content__fullprice {
	font-size: 14px;
	line-height: 20px;
	color: var(--color-dark);
	display: flex;
	flex-direction: column;
	text-align: left;
}

.fullprice {
	margin-top: 10px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	color: var(--color-dark);
}

.app-header-right .cart-content__btn {
	display: inline-block;
	width: 246px;
	text-align: center;
}

.simplebar-track.simplebar-vertical {
	width: 4px;
	background: rgba(77, 77, 77, 0.1);
	border-radius: 5px;
	right: 5px;
	margin-top: 20px;
	height: calc(100% - 40px);
}
.cart-product__text {
	text-align: left;
}
.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
	background: rgba(77, 77, 77, 0.2);
	border-radius: 5px;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 1;
}

@media screen and (max-width: 500px) {

	.header .app-name {
		display: none;
	}
	.header .search-wrapper {
		max-width: 100%;
	}
	.header .app-header-right {
		display: none;
	}
}








.form__container {
    width: 500px;
	position: relative;
    display: inline-block;
    vertical-align: middle;
    background-color: var(--bg-card);
    border-radius: 10px;
	border: 1px  solid var(--border);
	transition: 0.2s border ease, background-color 0.2s ease, 0.2s box-shadow ease;
	box-shadow: var(--box-shadow);
}
.form__container .form__title {
	padding: 20px;
    border-bottom: 1px solid var(--border);
	transition: 0.2s border ease;
}
.form__container .form__title h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: var(--color-accent);
}

.form__container .form__content {
	padding: 20px;
}

.form__container .form__content .form__row {
	display: flex;
	flex-direction: column;
	margin-bottom: 14px;
}
.btn-content {
	padding: 0px 20px;
}
.form__container .form__content .form__row .form__label {
	margin-bottom: 4px;
	font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-light);
	transition: 0.2s color ease;
}
.form__container .form__content .form__row .form__input {
	padding-left: 14px;
    padding-right: 14px;
    width: 240px;
    height: 45px;
    background: var(--bg-card);
    border-radius: 4px;
    border: 1px solid var(--border);
    color: var(--color-light);
	width: 100%;
	outline: none;
	transition: 0.2s border ease, background 0.2s ease, 0.2s color ease;
}
.form__input__container {
	position: relative;
}
.password-icon {
	position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
}
.password-icon svg {
	stroke: var(--border);
	cursor: pointer;
}
.form__container .btn {
	margin-top: 16px;
	margin-bottom: 40px;
}
.additional-content {
	text-align: center;
	padding-bottom: 20px;
}
.form__container .additional-text {
	font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-light);
}

.form__container .form__content .form__row .form__input:focus {
	border-color: #6078f1;
}




